
@{
    ViewBag.Title = "FindTitle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
        <form class="form-inline " style="margin-left:350px;">
            <div class="form-group">
                <label for="text">博主文章搜索</label>
                <input type="text" class="form-control" id="text" placeholder="关键字" name="title">
            </div>
            <button type="submit" class="btn btn-default">搜索</button>
        </form>

    @foreach (var item in Model)
    {
        <div class="panel panel-success" >
            <div class="panel-heading">
                <a href="@Url.Action("Show","Home",new { ID = item.ID })"><h3 class="panel-title text-center">@item.Title</h3></a>
            </div>
            <div class="panel-body">
                @item.Introduce
            </div>
            <div class="panel-footer">
                @item.Date            阅读量：@item.Count
            </div>
        </div>
    }
</div>

<nav aria-label="Page navigation " class="text-center">
    <ul class="pagination">
        <li>
            <a href="@Url.Action("FindTitle","Home",new { page=ViewBag.page-1,title=ViewBag.myTitle})" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @for (int i = 0; i <= ViewBag.Nums; i++)
        {
            <li><a href="@Url.Action("FindTitle","Home",new { page=i,title=ViewBag.myTitle})">@(i+1)</a></li>
        }
        <li>
            <a href="@Url.Action("FindTitle","Home",new { page=ViewBag.page+1,title=ViewBag.myTitle})" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
        

